<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.osc.mapper.OSCMapper">

    <select id="obtainOSCList" resultType="com.project.osc.model.OSC">
		SELECT DISTINCT O.ID, O.DESCRIPTION
		FROM OSC O
		JOIN CAMPAIGNS C ON C.ID_OSC = O.ID
		JOIN TEAM_EMPLOYEES TE ON TE.ID_CAMPAIGN = C.ID
		WHERE TE.ID_EMPLOYEE = #{idEmployee}
	</select>

</mapper>